/* Animations Setup */

@keyframes line-spread{
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes horizontal-scroll{
    0% {
        transform: translateZ(0) translateX(0);
    }
    100%{
        transform: translateZ(0) translateX(-50%);
    }
}

@keyframes chat-shake {
    0% {
        transform: translateZ(0) rotate(-5deg);
    }

    50% {
        transform: translateZ(0) rotate(0);
    }

    75% {
        transform: translateZ(0) rotate(5deg);
    }

    100% {
        transform: translateZ(0) rotate(0);
    }
}

@keyframes chat-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slide-from-top {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-right {

    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}