:root{
    
    --color-primary-light : #570099;
    --color-primary-dark:#3A0066;
    --color-primary-deep-dark:#07062C;

    --color-secondary-light:#F5C73B;
    --color-secondary-dark:#F3AA05;

    --color-tertiary:#fb4b37;

    --color-quaternary-dark:#C6D7F0;
    --color-quaternary-light:#C3DAEB;

    --color-shade-grey:#e7e7e7;


    
    --color-light:#ffff;
    --color-dark:#000000;

    --color-grey-line:#d6d6d675;

    --color-grey-text:#8d8da5;

    --color-purple-light:#bd66ff;

    --color-purple-dark:#7502ce;

    --color-gradient: linear-gradient(107deg,#8f00ff 11.97%,#a30fdf 35.02%,#b920bd 56.51%,#db3679 74.85%,#fb4b37 88.48%);

    --blue-banner-gradient: linear-gradient(95.12deg, #4747eb .48%, #a533ff 99.68%);

    --blue-purple-gradient: linear-gradient(107deg,#8f00ff 11.97%,#a30fdf 35.02%,#b920bd 56.51%,#db3679 74.85%,#fb4b37 88.48%);
    
    --color-gradient-light-primary:linear-gradient(rgb(255, 255, 255) 0%, rgb(217, 242, 236) 100%);
    --color-gradient-light-secondary:linear-gradient(rgb(255, 255, 255) 0%, rgb(254, 210, 205) 100%);
    --color-gradient-light-purple:linear-gradient(rgb(255, 255, 255) 0%, rgb(233, 204, 255) 100%);
    --color-gradient-dark-primary: linear-gradient(rgb(255, 255, 255) 0%, rgb(209, 209, 250) 100%);

    /*
    
    font-primary --> Used for Headings 
    font-secondary --> Used for content
    font-tertiary --> Used for Fancy Headings

    */

    --font-primary:"Roboto", sans-serif;
    --font-secondary:"Mukta", sans-serif; 
    --font-tertiary:"PT Serif", serif;

    --font-size-f1:3.6rem; /* 36px */
    --font-size-f2:2.8rem; /* 28px */
    --font-size-f3:2.2rem; /* 22px */
    --font-size-f4:2rem; /* 20px */
    --font-size-f5:1.6rem; /* 16px */
    --font-size-f6:1.4rem; /* 14px */ 
    --font-size-f7:1.2rem; /* 12px */

    
    --three-rem:3rem;
    --five-rem:5rem;
    --ten-rem:10rem;
    --thirteen-rem:13rem;
    --fifteen-rem:15rem;

    --container-max-width: 1400px !important;

    --container-width:85%;
    
    --footer-container-width:60%;

    --footer-container-max-width:1200px !important;
}