@import url(css/utilities.css);
@import url(css/variables.css);
@import url(css/sections/img-para-section.css);
@import url(css/sections/three-para-section.css);
@import url(css/animation.css);
@import url(css/components.css);
@import url(css/sections/chat-widget.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /* Setting 1rem as 10px */
}

html{
    scroll-behavior: smooth;
}

body{
    font-size:1.6rem;
    font-family: var(--font-secondary);
}



@media screen and (max-width: 1200px) {
    :root {
        font-size: 58%;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 55%;
    }

    .img-para-container{
        width: 100%;
    }

}



/*** Header Section Styling ***/

header{
    z-index: 1000;
    position: relative;
}

/* Promotion Label Top */

.top-label-section{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: var(--font-size-f5);
    height: max-content;
    font-family: var(--font-secondary);
    color:var(--color-primary-deep-dark);
    padding:1rem;
    background-image: linear-gradient(to right, var(--color-quaternary-dark), var(--color-quaternary-light));
    position: fixed;
    top:0;
}

.top-label-pricing{
    color:var(--color-primary-light);
    font-size: var(--font-tertiary);
}

.top-label-link:link, .top-label-link:visited{
    text-decoration: underline;
}


/* Main Navbar */

.main-nav-section{
    width: 100%;
    background-color: var(--color-light);
    height: max-content;
    position: fixed;
    top:4rem;
}

.main-nav-container{
    width: var(--container-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:var(--font-size-f5);
    margin: 0 auto;
}

.main-nav-logo{
    height: 2rem;
    display: flex;
    align-items: center;
}

.main-nav-logo img{
    height: inherit;
}


.main-nav-list{
    display: flex;
    gap: var(--three-rem);
    list-style-type: none;
    line-height: 100%;
}


.nav-list-item{
    padding: 3rem 1rem ;
    display: block; 
    position: relative;
    transition: all .5s ease-in-out;
}

.nav-list-item:hover{
    cursor:default;
    font-weight: 500;
    color:var(--color-primary-light);
    transition: all .5s ease-in-out;
}


.nav-list-item::after{
    content: "";
    position: absolute;
    height: .2rem;
    width: 100%;
    left:0;
    bottom:0;
    background-color: var(--color-primary-dark);
    display: block;
    transform-origin: center;
    transform:scale(0, 1);
    transition: all .3s ease-in-out;
    z-index: 10000;

}


.nav-list-item:hover::after{
    transform: scale(1, 1);
    transition: all .3s ease-in-out;
}

.main-nav-btn-grp{
    display: flex;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
}

.globe-svg{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}


/* Main Content */

/* Hero Section */

.hero-section{
    background-image: var(--color-gradient);
    height: max-content;
    padding: 7rem;
    position: relative;
    top: 11.6rem;
    color: var(--color-light);
    overflow: hidden;
}

.wave-bg-xl{
    position: absolute;
    height: calc(5*var(--ten-rem));
    bottom:0;
    left: -38%;
    z-index: 1;
}


.hero-secondary-heading{
    font-size: var(--font-size-f3);
    font-family: var(--font-secondary);
    padding-top:2rem;
}


/* Hero section cards */

.hero-travel-cards{
    z-index: 20;
    margin-top:3.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--three-rem);
    color: var(--color-dark);
    flex-wrap:wrap;
}

.travel-card{
    padding: 2rem;
    border-radius: 2.5rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

.travel-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.travel-card-3{
    height:22rem;
    width: 22rem;
}

.travel-card-3-1{
    background-image: url('images/travel3.png');
    background-size: cover;
}

.travel-card-3-2{
    background-image: url('images/team-offsites2.png');
    background-size: cover;
}

.travel-card-2{
    height:26rem;
    width: 22rem;
}

.travel-card-2-1{
    background-image: url('images/expense-navan-and-mastercard.png');
    background-size: cover;
}

.travel-card-2-2{
    background-image: url('images/delegates2.png');
    background-size: cover;
}

.travel-card-1{
    height:32rem;
    width: 23rem;
    background-image: url('images/business-travel.png');
    background-size: cover;
}

.travel-card-content{
    color: var(--color-dark);
    font-size: var(--font-size-f6);
    line-height: 2rem;
}

.travel-checkbox{
    height: var(--three-rem);
    width: var(--three-rem);
}   

.hero-section-btn-grp{
    position: relative;
    z-index: 2;
    margin-top: var(--five-rem);
}

.watch-video{
    margin-top:2rem;
}
.watch-video:hover{
    text-decoration: underline;
}


/*** client-logo-slider-section ***/

.client-logo-slider-section{
    width: 100%;
    position: relative;
    margin-top: 13rem;
    overflow-x: hidden;

}
.scroll-animation-container{
    display: flex;
    animation: horizontal-scroll 20s linear infinite;
    backface-visibility: hidden;
    
    gap: 8.5rem;
}

.client-logo-container{
    display: flex;
    gap: 8.5rem;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
    object-fit: contain;
}

.client-slider-img{
    height: auto;
    width: var(--ten-rem);
    vertical-align: middle;
}


.integrated-business-text{    
    margin: var(--ten-rem) 0;
}


/*** Three Para Section Goes HERE ***/

/*** Image Paragraph section goes HERE ***/

/*** Blue banner styling ***/

.home-blue-banner-section{
    padding: var(--three-rem) 0;
}

.blue-banner-container{
    width: var(--container-width);
    padding:var(--ten-rem) var(--fifteen-rem);
    background-image: var(--blue-banner-gradient);
    margin: 0 auto;
    border-radius: var(--three-rem);
    color: var(--color-light);
}

.blue-banner-author-info > *{
    padding : .3rem;    
}

.gamestop-logo{
    width: auto;
    height: 2rem;
    filter: brightness(0) invert(1);
}



/*** List Image section ***/

.list-img-container{
    display: flex;
    justify-content: space-between;
    width: var(--container-width);
    margin: 0 auto;
    font-size: var(--font-size-f4);
}

.list-img-item{
    list-style-type: none;
}

.list-img-image{
    height: 45rem;
}

.list-img-item{
    display: flex;
    align-items: center;
    padding:1rem;
}

.list-img-item > img{
    padding-right: 1.5rem;
}

.tick-bulleting{
    height: 3rem;
}


/*** See navan action ***/

.see-navan-action-section{
    background-image: var(--blue-purple-gradient);
}

.see-navan-action-container{
    width: var(--container-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navan-action-img{
    height: 35rem;
}


/*** Footer Styling ***/

.home-footer{
    height: max-content;
}

.footer-container{
    width: var(--footer-container-width);
    margin: 0 auto;
    height: 100%;
}

.footer-top-navigation{
    display: flex;
    gap:10rem;
    height: 100%;
}


.navan-logo-footer{
    height: 2rem;
    width: auto;
    filter: invert(1);
}

.footer-region{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-list-item{
    list-style-type: none;
    padding-top:1.5rem;
}

.footer-list-item:hover{
    text-decoration: underline;
}

.footer-social-icons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.footer-logo-icons{
    display: flex;
    align-items: center;
    gap:3rem;
}

.footer-social-items{
    display: flex;
    gap:3rem;
}

.footer-social-item{
    list-style-type: none;    
}

.footer-appstorel-logo{
    height: 3rem;
}


/*** Legal terms styling ***/

.legal-terms-navigation{
    padding: 3rem 0;
    border-bottom: .1px solid var(--color-grey-line);
    border-top: .1px solid var(--color-grey-line);
}

.legal-term-items{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.legal-term-item{
    list-style-type: none;
}

.legal-term-button{
    background-color: transparent;
    border: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
}

.legal-term-svg{
    height: 3.5rem;
    width: 3.5rem;
}

.footer-disclaimer{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-f6);
}


/*** Chat widget placement ***/

.chat-frame-container{
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    z-index: 10000000;
    align-items: flex-end;
    gap: 1rem;
}

.chat-widget-iframe{
    width: 6rem;
    height: 6rem;
    transform: translateX(200%);
    opacity: 0;    
    animation: slide-from-right .5s ease-in-out 2s forwards;
}

.chat-widget-label-iframe{
    height: 7rem;
    width: 30.5rem;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--color-light);
    border-radius: 1.3rem;
    border: .5px solid var(--color-light);
    transform: translateY(-100%); 
    opacity: 0;
    animation: slide-from-top .5s ease-in-out 3s forwards;    
}
