
.chat-icon-container{
    border-radius: 50%;
    background-color: var(--color-primary-light);
    padding: .2rem;
    height: 7.5rem;
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-icon-container:hover{
    background-color: var(--color-purple-dark);
    cursor: pointer;
}

.chat-icon-logo{
    height: 3.5rem;
    width: 3.5rem;
    color: var(--color-light);
    animation: chat-pulse 2s ease-in-out 2s infinite ;
}


/*** Chat widget Label Styling ***/

.chat-label-container{
    padding: 1.5rem 0;
    background-color: var(--color-light);
    position: relative;
    cursor: pointer;  
    overflow-x: hidden; 
    font-size: var(--font-size-f4);   
}

.chat-label-content{
    padding-top:.25rem;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 90%;

}


.navan-chat-logo{
    height: 4rem;
    width: 4rem;
    border-radius: 25%;
}

.chat-label-close{
    position: absolute;
    right: .7rem;
    top: .5rem;
}

#chat-close-icon-button{
    border: none;
    background-color: none;
    border-radius: 50%;
    display: flex;
    padding: .1rem;
}

#chat-close-icon-button:hover{
    cursor: pointer;
}

.chat-close-icon{
    height: 2.5rem;
    width: 2.5rem;
    
}


/*** Chat widget placement ***/

.chat-frame-container{
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    z-index: 10000000;
    align-items: flex-end;
    gap: 1rem;
}

.chat-widget-iframe{
    width: 7.5rem;
    height: 7.5rem;
    transform: translateX(200%);
    opacity: 0;    
    animation: slide-from-right .5s ease-in-out 2s forwards;
}

.chat-widget-label-iframe{
    height: 8rem;
    width: 32rem;
    padding-top:1.2rem;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--color-light);
    border-radius: 1.3rem;
    border: .5px solid var(--color-light);
    transform: translateY(-100%); 
    opacity: 0;
    animation: slide-from-top .5s ease-in-out 3s forwards;
}

iframe{
    overflow-x: hidden !important;
}