/*** img-para-section styling***/

.img-para-section{
    margin: 0 auto;
    padding: 5rem 0;
}

.img-para-container{
    width: var(--container-width);
    display: flex;
    gap:5rem;
    justify-content: space-between;
    align-items: center;
}

.img-para-container-reverse{
    flex-direction: row-reverse;
}

.img-para-section-text{
    width: 45%;
}

.img-para-section-img{
    height: 45rem;
}
    
.img-para-section-img-container{
    margin-right: 8rem;
    padding-top:5rem;
}

.img-para-section-img-container-reverse{
    margin-left: 5rem;
    padding-top:5rem;
}


