/*** Three Paragraph Section ***/

.three-para-section{
    padding: 5rem 0;
    margin: 2.5rem auto;
}

.three-para-section-container{
    display: flex;
    width: var(--container-width);
    text-align: center;
    gap: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.three-para-section-item{
    gap: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(33.33% - 5rem);
}


.three-para-svg-container{
    padding: 1.6rem;
    border-radius: 10rem;
    background-color: var(--color-primary-light);
    display: flex;
    color: var(--color-light);
}
